{% extends "base_template.py.j2" %}
{% from "macros/field_macro.j2" import render_field %}
{'#- This template generates Python dataclasses based on the provided class descriptors. It can be configured using the api_config to conform to user specific api design preferences -#}
{% block imports %}
from __future__ import annotations
{% if enums is defined and enums|length > 0 %}
{% if api_config.RelativeImports == "true" %}
from .enum_code import *
{% else %}
from enum_code import *
{% endif %}
{% endif %}
{% endblock %}

{% block body %}
{% for cls in classes %}
class {{ cls.class_name }}:
    {# Generate a docstring listing the fields and their types #}
    """
    Generated dataclass for {{ cls.class_name }} 
    Attributes:
    {% for f in cls.sorted_fields %}
        {% set _attr = ("__" if api_config.UseDoubleUnderscore == "true" else "_" if api_config.StrictPrivacy == "true" else "") + f.field_name %}
        {{ _attr }}: {{ f.type_hint }}{% if f.has_default %} = {{ f.rendered_default }}{% endif %} 
    {% endfor %}
    """
    {% for f in cls.sorted_fields %}
    {#- If strict privacy is enabled and this is a non-association field, make it private by prefixing with __ -#}
    {% if api_config.StrictPrivacy == "true" %}
        {% if api_config.UseDoubleUnderscore == "true" %}
    __{{ render_field(f) }}
        {% else %}
    _{{ render_field(f) }}
        {% endif %}
    {%- else %}
    {{ render_field(f) }}
    {% endif %}
    {% endfor %}

    {% if api_config.GenerateConstructors == "true" %}
    def __init__(self
    {%- for f in cls.sorted_fields -%}
        , {{f.field_name}}: {{f.type_hint}}{% if f.has_default %} = {{f.rendered_default}}{% endif %}
    {%- endfor -%}
    ) -> None:
        """Generated constructor for {{ cls.class_name }}"""
        {% for f in cls.sorted_fields %}
        {% set _attr = ("__" if api_config.UseDoubleUnderscore == "true" else "_" if api_config.StrictPrivacy == "true" else "") + f.field_name %}
        self.{{_attr}} = {{f.field_name}}
        {% endfor %}
    {% endif %}

    {% for f in cls.sorted_fields %}
    {% set _attr = ("__" if api_config.UseDoubleUnderscore == "true" else "_" if api_config.StrictPrivacy == "true" else "") + f.field_name %}

    {#- Generate getters and setters for non-association fields based on configuration -#}
    {% if api_config.GenerateGetters == "true" %}
    {% if api_config.NamingConvention == "camelCase" %}
    def get{{ f.field_name[0] | upper }}{{ f.field_name[1:] }}(self) -> {{f.type_hint}}:
    {% else %}
    def get_{{f.field_name}}(self) -> {{f.type_hint}}:
    {% endif %}
        """Generated getter for {{_attr}}"""
        if self.{{_attr}} is None:
            raise ValueError("Field '{{_attr}}' has not been initialized.")
        return self.{{_attr}}
    {% endif %}

    {% if api_config.GenerateSetters == "true" %}
    {% if api_config.NamingConvention == "camelCase" %}
    def set{{ f.field_name[0] | upper }}{{ f.field_name[1:] }}(self, value: {{f.type_hint}}) -> None:
    {% else %}
    def set_{{f.field_name}}(self, value: {{f.type_hint}}) -> None:
    {% endif %}
        """
        Generated setter for {{_attr}}

        Args:
            value: The new value to assign to the "{{_attr}}" attribute
        """
        {% if api_config.ExplicitTypeSafety == "true" %}
        {% if f.multiplicity.is_optional %}
        if value is not None:
            {% if f.multiplicity.is_list %}
            if not isinstance(value, list) or not all(isinstance(i, {{f.base_type}}) for i in value):
                raise TypeError(f"Expected type list[{{f.base_type}}] or None for field '{{_attr}}', got {type(value)}")
            {% else %}
            if not isinstance(value, {{f.base_type}}):
                raise TypeError(f"Expected type {{f.base_type}} or None for field '{{_attr}}', got {type(value)}")
            {% endif %}
        {% else %}
        {% if f.multiplicity.is_list %}
        if not isinstance(value, list) or not all(isinstance(i, {{f.base_type}}) for i in value):
            raise TypeError(f"Expected type list[{{f.base_type}}] for field '{{_attr}}', got {type(value)}")
        {% else %}
        if not isinstance(value, {{f.base_type}}):
            raise TypeError(f"Expected type {{f.base_type}} for field '{{_attr}}', got {type(value)}")
        {% endif %}
        {% endif %}
        {% endif %}
        self.{{_attr}} = value
    {% endif %}

    {% endfor %}
{% if not loop.last %}
{% endif %}
{% endfor -%}
{% endblock -%}
