{% extends "base_template.py.j2" %}
{% from "macros/field_macro.j2" import render_field %}

{% block imports %}
from dataclasses import dataclass
from __future__ import annotations
from enum_code import *
{% endblock %}

{% block body %}
{% for cls in classes %}
@dataclass
class {{ cls.class_name }}:
    {% for f in cls.sorted_fields %}
    {{ render_field(f) }}
    {% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor -%}
{% endblock -%}
