{% extends "base_template.py.j2" %}
{% from "macros/field_macro.j2" import render_field %}

{% block imports %}
from dataclasses import dataclass
from __future__ import annotations
from enum_code import *
{% endblock %}

{% block body %}
{% for cls in classes %}
@dataclass
class {{ cls.class_name }}:
    {% for f in cls.sorted_fields %}
    {% if ApiConfig.StrictPrivacy == "true" and f.is_association == false %}
    __{{ render_field(f) }}
    {% else %}
    {{ render_field(f) }}
    {% endif %}
    {% endfor %}


    {% for f in cls.sorted_fields %}
    {% if f.is_association == false %}
    {% if ApiConfig.GenerateGetters == "true" %}
    def get{{f.field_name}}(self) -> {{f.type_hint}}:
        return self.{{f.field_name}}
    {% endif %}
    {% if ApiConfig.GenerateSetters == "true" %}
    def set{{f.field_name}}(self, value: {{f.type_hint}}) -> None:
        self.{{f.field_name}} = value
    {% endif %}
    {% endif %}
    {% endfor %}


{% if not loop.last %}

{% endif %}
{% endfor -%}
{% endblock -%}
