{% extends "base_template.py.j2" %}

{% block imports %}
from enum import Enum
{% endblock %}

{% block body %}
{% for enum in enums %}
class {{ enum.enum_name }}(Enum):
    {% for o in enum.options %}
    {{ o }} = "{{ o }}"
    {% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor -%}
{% endblock -%}
