{% extends "base_template.py.j2" %}

{% block imports %}
from enum import Enum
{% endblock %}

{% block body %}
{% for enum in enums %}
class {{ enum.enum_name }}(Enum):
    {% for n, v in enum.options.items() %}
    {{ n }} = "{{ v }}"
    {% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor -%}
{% endblock -%}
